# Python CircleCI 2.1 configuration file
#
# As much as possible, this file should be kept in sync with:
# https://github.com/napari/napari/blob/main/.circleci/config.yaml
#
# Check for more details: https://circleci.com/docs/2.1/configuration-reference
version: 2.1

# in addition to the default circleCI triggering, we have a GitHub Action:
# .github/triggered_target_build.yml
# This Action has a job that uses CircleCI-Public/trigger-circleci-pipeline-action.
# This allows triggering a CircleCI pipeline from any event on GitHub with GitHub Actions.
# Right now we are using comments on PRs to trigger the workflow "triggered-by-pr-comment"
# See: https://github.com/CircleCI-Public/trigger-circleci-pipeline-action/blob/main/README.md
parameters:
  GHA_Actor:
    type: string
    default: ""
  GHA_Action:
    type: string
    default: ""
  GHA_Event:
    type: string
    default: ""
  GHA_Meta:
    type: string
    default: ""

# Orbs are reusable packages of CircleCI configuration that you may share across projects.
# See: https://circleci.com/docs/2.1/orb-intro/
orbs:
  python: circleci/python@3.0.0

jobs:
  build-docs:
    docker:
      - image: cimg/python:3.12.11
    environment:
      XDG_CACHE_HOME: /home/circleci/.cache
    parameters:
      # Set make target for the job
      make_target:
        type: string
        default: slimfast
    steps:
      - checkout:
          path: docs
      - restore_cache:
          keys:
            - pooch
      - run:
          name: Clone main repo into a subdirectory
          command: git clone git@github.com:napari/napari.git napari
      - run:
          name: Install qt libs + xvfb
          command: sudo apt-get update && sudo apt-get install -y xvfb libegl1 libdbus-1-3 libxkbcommon-x11-0 libxcb-icccm4 libxcb-image0 libxcb-keysyms1 libxcb-randr0 libxcb-render-util0 libxcb-xinerama0 libxcb-xinput0 libxcb-xfixes0 x11-utils
      - run:
          name: Setup virtual environment
          command: |
            uv venv
            . .venv/bin/activate
      - run:
          name: Install napari-dev
          command: |
            . .venv/bin/activate
            uv pip install -e "napari/[pyqt5,docs]"
          environment:
            PIP_CONSTRAINT: napari/resources/constraints/constraints_py3.12_docs.txt
      - run:
          name: Build docs
          command: |
            . .venv/bin/activate
            cd docs
            xvfb-run --auto-servernum make << parameters.make_target >>
          environment:
            PIP_CONSTRAINT: ../napari/resources/constraints/constraints_py3.12_docs.txt
      - store_artifacts:
          path: docs/docs/_build/html/
      - save_cache:
          key: pooch
          paths:
            - ~/.cache/scikit-image
            - ~/.cache/napari-*
            - ~/.cache/pooch
      - persist_to_workspace:
          root: .
          paths:
            - docs/docs/_build/html/
workflows:
  build-docs:
    # this workflow is triggered automatically by default
    # so we want to prevent it from triggering when triggering
    # via CircleCI-Public/trigger-circleci-pipeline-action
    # which always passes the GHA_Meta parameter
    # this prevents double triggers
    when:
      not: << pipeline.parameters.GHA_Meta >>
    jobs:
      - build-docs
  # Run this workflow when a PR comment triggers a docs build for `make` target
  triggered-by-pr-comment:
    when:
      or:
        - equal: ["slimfast", << pipeline.parameters.GHA_Meta >>]
        - equal: ["slimgallery", << pipeline.parameters.GHA_Meta >>]
        - equal: ["docs", << pipeline.parameters.GHA_Meta >>]
        - equal: ["html", << pipeline.parameters.GHA_Meta >>]
        - equal: ["html-noplot", << pipeline.parameters.GHA_Meta >>]
    jobs:
      - build-docs:
          make_target: << pipeline.parameters.GHA_Meta >>
