# Python CircleCI 2.1 configuration file
#
# As much as possible, this file should be kept in sync with:
# https://github.com/napari/napari/blob/main/.circleci/config.yaml
#
# Check for more details: https://circleci.com/docs/2.1/configuration-reference
version: 2.1

# these are required by https://github.com/CircleCI-Public/trigger-circleci-pipeline-action
parameters:
  GHA_Actor:
    type: string
    default: ""
  GHA_Action:
    type: string
    default: ""
  GHA_Event:
    type: string
    default: ""
  GHA_Meta:
    type: string
    default: ""
  # parameterize the make target used for build, passed in from build_trigger.yml action
  make_target:
    type: string
    default: "slimfast"

# Orbs are reusable packages of CircleCI configuration that you may share across projects.
# See: https://circleci.com/docs/2.1/orb-intro/
orbs:
  python: circleci/python@3.0.0

jobs:
  build-docs:
    docker:
      - image: cimg/python:3.10.17
    steps:
      - checkout:
          path: docs
      - run:
          name: Clone main repo into a subdirectory
          command: git clone git@github.com:napari/napari.git napari
      - run:
          name: Install qt libs + xvfb
          command: sudo apt-get update && sudo apt-get install -y xvfb libegl1 libdbus-1-3 libxkbcommon-x11-0 libxcb-icccm4 libxcb-image0 libxcb-keysyms1 libxcb-randr0 libxcb-render-util0 libxcb-xinerama0 libxcb-xinput0 libxcb-xfixes0 x11-utils
      - run:
          name: Setup virtual environment
          command: |
            uv venv
            . .venv/bin/activate
      - run:
          name: Install napari-dev
          command: |
            . .venv/bin/activate
            uv pip install -e "napari/[pyqt5,docs]"
          environment:
            PIP_CONSTRAINT: napari/resources/constraints/constraints_py3.10_docs.txt
      - run:
          name: Build docs
          command: |
            . .venv/bin/activate
            cd docs
            xvfb-run --auto-servernum make << pipeline.parameters.make_target >>
          environment:
            PIP_CONSTRAINT: ../napari/resources/constraints/constraints_py3.10_docs.txt
      - store_artifacts:
          path: docs/docs/_build/html/
      - persist_to_workspace:
          root: .
          paths:
            - docs/docs/_build/html/
workflows:
  build-docs:
    jobs:
      - build-docs
  triggered-by-label:
    when:
      equal: ["ready-to-merge", << pipeline.parameters.GHA_Meta >>]
    jobs:
      - build-docs
