/*
Sphinx-Gallery has compatible CSS to fix default sphinx themes
Tested for Sphinx 1.3.1 for all themes: default, alabaster, sphinxdoc,
scrolls, agogo, traditional, nature, haiku, pyramid
Tested for Read the Docs theme 0.1.7 */

html[data-theme="light"] div.sphx-glr-download a {
  background-color: rgb(255, 255, 255) !important;
  background-image: linear-gradient(to bottom, rgb(255, 255, 255), #ffffff) !important;
  border-radius: 4px;
  border: 1px solid #ffffff !important;
  color: #000;
  display: inline-block;
  font-weight: bold;
  padding: 1ex;
  text-align: center;
}

html[data-theme="light"] div.sphx-glr-download a:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1),
    0 1px 5px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  background-image: none;
  background-color: #ffffff !important;
}

html[data-theme="dark"] div.sphx-glr-download a {
  background-color: #222832 !important;
  background-image: linear-gradient(to bottom, #222832, #222832) !important;
  border-radius: 4px;
  border: 1px solid #222832 !important;
  color: #000;
  display: inline-block;
  font-weight: bold;
  padding: 1ex;
  text-align: center;
}

html[data-theme="dark"] div.sphx-glr-download a:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1),
    0 1px 5px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  background-image: none;
  background-color: #222832 !important;
}

/* Version warning banner color */
#bd-header-version-warning {
  background-color: color-mix(in srgb, var(--pst-color-secondary-bg), transparent 30%);
}

#bd-header-version-warning .pst-button-link-to-stable-version {
  background-color: color-mix(in srgb, var(--pst-color-secondary-bg), transparent 0%);
  border-color: var(--pst-color-secondary-bg);
  color: var(--napari-color-text-base);
  font-weight: 700;
}

#bd-header-version-warning .pst-button-link-to-stable-version:hover {
  background-color: var(--pst-color-secondary-bg);
  border-color: var(--pst-color-secondary-bg);
  color: var(--napari-color-text-base);
  font-weight: 700;
}
