name: Build PR Docs

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-upload:
    name: Build & Upload Artifact
    runs-on: ubuntu-latest
    steps:
      - name: Clone docs repo
        uses: actions/checkout@v3
        
      - name: Clone main repo
        uses: actions/checkout@v3
        with:
          path: napari
          repository: napari/napari
      
      - name: Copy examples to docs folder
        run: |
          cp -R napari/examples .

      - uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - uses: tlambert03/setup-qt-libs@v1

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install "napari/[all]"

      - name: Testing
        run: |
          python -c 'import napari; print(napari.__version__)'
          python -c 'import napari.layers; print(napari.layers.__doc__)'

      - name: Build Docs
        uses: GabrielBB/xvfb-action@v1
        env:
          GOOGLE_CALENDAR_ID: ${{ secrets.GOOGLE_CALENDAR_ID }}
          GOOGLE_CALENDAR_API_KEY: ${{ secrets.GOOGLE_CALENDAR_API_KEY }}
        with:
          run: make docs

      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: docs
          path: docs/docs/_build
