name: Remove html In PR description
# see https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#pull_request_target
on:
  # see https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#pull_request_target
  pull_request_target:
    types:
      - opened
      - synchronize
      - reopened
      - edited
permissions:
  pull-requests: write

jobs:
  remove_comment:
    name: Remove html comments.
    uses: napari/napari/.github/workflows/edit_pr_description.yml@main