name: Ready-to-merge Build

on:
  pull_request:
    types:
      - labeled

jobs:
  full-circleci-build:
    if: contains(github.event.pull_request.labels.*.name, 'ready to merge')
    runs-on: ubuntu-latest
    steps:
      - name: Run CircleCI pipeline
        uses: CircleCI-Public/trigger-circleci-pipeline-action@v1.2.0
        with:
          GHA_Meta: "ready-to-merge"
        env:
          CCI_TOKEN: ${{ secrets.CIRCLECI_TOKEN }}

  full-artifact-build:
    if: contains(github.event.pull_request.labels.*.name, 'ready to merge')
    uses: ./.github/workflows/build_docs.yml
    with:
      make_target: "html"

  report-artifact-status:
    # reusable workflows can't be a step in a job
    # so to get the status of the artifact build, we need a separate job
    needs: trigger-full-artifact-build
    runs-on: ubuntu-latest
    if: always() && needs.trigger-full-artifact-build.result != 'skipped'
    steps:
      - name: Set build job status
        uses: myrotvorets/set-commit-status-action@master
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          status: ${{ needs.trigger-full-artifact-build.result }}
          context: "Docs Full Artifact Build"
          description: ${{ needs.trigger-full-artifact-build.result == 'success' && 'Full Docs built successfully' || 'Full Docs build failed' }}
          targetUrl: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
